.social-nav {
  background: items-color !important;
  height: 2rem;

  .nav-link {
    color: $light-color !important;
    font-family: $main-font;
    font-size: $mid-text;
    padding: 0 0.7rem !important;
  }

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.main-nav {
  
  .navbar-brand {
    display: block;
    height: 5.5rem;
    img {
      height: 100% !important;
    }
  }

  .navbar-toggler-icon {
    .fa-bars {
      font-size: $large-text !important;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: 0.5rem 1.5rem !important;
      font-weight: 600;
      color: $items-color;
    }

    .active {
      color: $highlight-color;
    }

    .join {
      border: 3px solid $highlight-color;
    }
  }
}
