@import "https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Gothic&display=swap";

$main-font: 'Nanum Gothic', sans-serif;
$default-color: #d3d3d3;
$items-color: #272a31;
$light-color: #fff;
$mid-text: 1.2rem;
$large-text: 1.5rem;
$highlight-color: #ec1c24;
$card-bg: #959698;