@import "https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Gothic&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald&display=swap";

$main-font: "Nanum Gothic", sans-serif;
$default-color: #f2f2f2;
$items-color: #272a31;
$light-color: #fff;
$small-text: 0.8rem;
$mid-text: 1.2rem;
$large-text: 1.5rem;
$highlight-color: #ee523c;
$card-bg: #b1b1b4;
$oswald: "Oswald", sans-serif;
